body{
    background-color: rgb(230, 232, 235);
}


h1{
    color: rgb(9, 156, 156);
    text-align: center;
}
p{
    color: rgb(0, 128, 160);
    margin-bottom:15px;
}
.tela{
    background-color: rgb(240, 240, 240);
    margin-top: 150px;
    margin-left: 450px;
    margin-right: 450px;
    border-color: rgb(195, 232, 241);
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }


  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%; /* largura*/
    background: rgb(61, 157, 179);
    padding: 8px 10px; /* Tamanho*/
    color: #fff;
    font-size: 20px;  /*tamanho da letra*/
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    border-radius: 5px; 
   
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit no hover */
  input[type="submit"]:hover{
    background: #4ab3c6;
  }

.cadastro{
    color: #868686;
    background-color: rgb(215, 237, 247);
    text-align: center;
margin-bottom: 0%;
padding: 10px 20px;
  }
  .cadastro a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .cadastro a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
  }